@font-face{
    font-family: Cataclysmo;
    src: url(./Cataclysmo.eot) format('eot'),
         url(./Cataclysmo.svg) format('svg'),
         url(./Cataclysmo.ttf) format('ttf'),
         url(./Cataclysmo.woff) format('woff'),
         url(./Cataclysmo.woff2) format('woff2')
  }
@font-face{
    font-family: JUSTDOGOOD;
    src: url(./JUSTDOGOOD.eot) format('eot'),
    url(./JUSTDOGOOD.svg) format('svg'),
    url(./JUSTDOGOOD.ttf) format('ttf'),
    url(./JUSTDOGOOD.woff) format('woff'),
    url(./JUSTDOGOOD.woff2) format('woff2')
}