@font-face{
    font-family: Cataclysmo;
    src: url(./Cataclysmo.eot) format('eot'),
         url(./Cataclysmo.svg) format('svg'),
         url(./Cataclysmo.ttf) format('ttf'),
         url(./Cataclysmo.woff) format('woff'),
         url(./Cataclysmo.woff2) format('woff2')
  }

@font-face{
    font-family: Bellada-Regular;
    src: url(./Bellada-Regular.eot) format('eot'),
         url(./Bellada-Regular.svg) format('svg'),
         url(./Bellada-Regular.ttf) format('ttf'),
         url(./Bellada-Regular.woff) format('woff'),
         url(./Bellada-Regular.woff2) format('woff2')
  }


