.about-me{
  font-family: Cataclysmo;
}
.about-me .about-me-intro h2{
    color: rgba(255, 255, 255, .55);
    font-size: 120px;
}
.about-me .about-me-intro p{
    font-size: 45px;
    letter-spacing: 0.8px;
    color: rgba(255, 255, 255, .55);
}
.about-me ul,li{
    font-size: 25px;
}
.about-me ul li strong{
    color: #fff;
}
.about-me span{
    color: #ff9800
}
@media (max-width: 768px){
    .about-me .about-me-intro h2{
        visibility: visible !important;
        text-align: center;
        font-size: 45px;
    }
    .about-me .about-me-intro p{
        font-size: 26px;
        text-align: center !important;
    }
}