.lead p{
   color: rgba(255, 255, 255, .75);
  font-family: Cataclysmo;
  font-size: 25px;
}
span{
    color: #ff9800;
}

input{
    padding: 18px 20px;
    background-color: #636363;
    border: none;
    color: #eee;
    font-size: 15px !important;
    transition: all 0.5s;
}
input:focus{
    background-color: #ff9800;
    color: #000;
    
}
input::placeholder{
  font-family: Cataclysmo;
  font-size: 20px;
  color: white;
  opacity: 0.5;
}
textarea{
    padding: 18px 20px;
    line-height: 24px;
    border: none;
    font-size: 13px;
    height: 150px;
    background-color: #636363;
    color: #eee;
    font-size: 15px !important;
    transition: all 0.5s;
}
textarea:focus{
    background-color: #ff9800;
    color: #000;
}
textarea::placeholder{
    font-family: Cataclysmo;
    font-size: 20px;
    color: white;
    opacity: 0.5;
  }
.submit-btn{
    font-family: Cataclysmo;
    padding: 5px 5px;
    float: right;
    width: 35%;
    color: #fff;
    border: none;
    background-color: #0D0D0D;
    transition: all 0.5s;
}
.submit-btn:hover{
    color: #0D0D0D;
    background-color: #fff;
}
.social-links a{
    color: white;
    font-size: 25px;
}
.social-links a:hover{
    color: #ff9800;
    transform: scale(1.15);
    transition: 0.5s all;
}
.mail{
    color: #ff9800;
    transition: 0.5s all;
    position: relative;
}
.mail:after{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 1px;
    background-color: #ff9800;
}
.mail:hover{
    color: #ff9800;
    text-decoration: none;
}
.mail:hover:after{
                
    width: 0%;
    animation: underline 2s forwards;
}

@keyframes underline{
    100%{
        width: 100% ;
    }
}


@media(max-width:991px){
    .contact-info{
        margin-bottom: 20px;
    }
    .social-links a{
        font-size: 35px;
    }
}