.single-experience{ 
    padding: 20px;
    height: 100vh;
}
.exp-cont p{
    font-size: 18px;
    letter-spacing: 0.5px;
}
.exp-cont .aposti{
    font-size: 20px;
}
.exp-cont .first{
    background-color: #ff9800;
    color: black;
}
.exp-cont .second{
    background-color: black;
    color: #fff;
}
.exp-cont .third{
    background-color: #ff9800;
    color: black;
}
.exp-cont .fourth{
    background-color: black;
    color: #fff;
}
.exp-cont .first span{
    color: white;
}
.exp-cont .second span{
    color: #ff9800;
}
.exp-cont .third span{
    color: white;
}
.exp-cont .fourth span{
    color: #ff9800;
}
@media(max-width:991px){
    .exp-cont{
        flex-direction: column;
    }
    .single-experience{
        height: 100%;
        margin-bottom: 25px;
    }
    .container{
        padding: 0 !important;
    }
}