.page-wrapper{
  background-color: #DFDFDF;
  height: 100vh;
  overflow: hidden;
}
.single-nav{
  cursor: pointer;
}
.nav-list{
  font-weight: 400;
  font-family: Cataclysmo;
  background-color: #DFDFDF;
}
.nav-list .single-nav{
  font-size: 25px;
  color: #575757;
}
.nav-list .single-nav:hover{
  background-color: red;
}
.display{
  background-color: #848469;
  border-left: 5px solid #A9AA8A;
}

